<div class="row" id="books-header">
  <h2 class='text-center'>Books</h2>
</div>

<%= render partial: 'book_search_results/search_bar' %>

<div class="row">
  <div id="dashboard-book-suggestions"class="medium-6 columns medium-offset-3">
    <h4 class='text-center'>Your book suggestions</h4>
  </div>
</div>

<div class="row">
  <div class= "medium-2 columns right">
    <%= link_to "browse all", books_path, class: 'bold-link' %>
  </div>
</div>

<div class="row" id="book-grid">
  <ul class="medium-block-grid-3">
    <% @books.each do |book| %>
      <li><%= render partial: 'books/book', locals: { book: book } %></li>
    <% end %>
  </ul>
</div>

<div class="row">
  <div id="dashboard-book-suggestions" class="medium-6 columns medium-offset-3">
    <h4 class='text-center'>People you're following</h4>
  </div>
</div>

<div class="row">
  <div class= "medium-2 columns right">
    <%= link_to "browse all", user_followees_path, class: 'bold-link' %>
  </div>
</div>

<div class="row" id="book-grid">
  <ul class="medium-block-grid-4">
    <% @followees.each do |followee| %>
      <li><%= render partial: 'user_followees/followee', locals: {followee: followee} %></li>
    <% end %>
  </ul>
</div>


<div class="row">
  <div id="dashboard-book-suggestions" class="medium-6 columns medium-offset-3">
    <h4 class='text-center'>You should follow...</h4>
  </div>
</div>

<div class="row">
  <div class= "medium-2 columns right">
    <%= link_to "browse all", suggested_followees_path, class: 'bold-link' %>
  </div>
</div>

<div class="row" id="book-grid">
  <ul class="medium-block-grid-4">
    <% @suggested_followees.each do |suggested_followee| %>
      <li><%= render partial: 'suggested_followees/suggested_followee', locals: {suggested_followee: suggested_followee} %></li>
    <% end %>
  </ul>
</div>
