<div class="row">
  <div class="small-6 columns small-offset-3">
    <% if @comparisons.empty? %>
      <h2 class="text-center">You have no books in common with <%= @suggested_followee.name %>.</h2>
    <% else %>
      <h2 class="text-center">Compare ratings with <%= @suggested_followee.name %></h2>
    <% end %>
  </div>
</div>
<% unless @comparisons.empty? %>
  <div class="row">
    <div class="small-6 columns small-offset-3">
      <table>
        <thead>
          <tr>
            <th width="200">Book Title</th>
            <th width="150">You</th>
            <th width="150"><%= @suggested_followee.name %></th>
          </tr>
        </thead>
        <tbody>
          <% @comparisons.each do |comparison| %>
            <tr>
              <td><%= comparison['book']['title'] %></td>
              <td><%= comparison['your_review']['rating'] %></td>
              <td><%= comparison['their_review']['rating'] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
