<div class="panel clearfix">
  <div>

    <div class="row">
      <div class="small-10 columns small-offset-1 followee-name-container">
        <h5 class="text-center followee-name"><%= suggested_followee.name %></h5>
      </div>
    </div>

    <div class="row" id="reason-for-user-suggestion" >
      <p class=text-center><%= suggested_followee.reason_for_suggestion %></p>
    </div>
    <div class="container">
      <div class="followee-image-container small-10 columns small-offset-1">
        <%= image_tag suggested_followee.image_url, class: 'panel-image', lazy: true %>
      </div>
      <div class="row">
        <div class="small-6 columns small-offset-3 text-center">
          <%= link_to "compare", book_comparison_path(id: suggested_followee.goodreads_id) %>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns small-offset-3 text-center">
          <%= link_to "follow", user_followees_path(followee_id: suggested_followee.goodreads_id), method: :post %>
        </div>
      </div>
    </div>


  </div>
</div>
