<div class="panel clearfix">

  <div class="row">
    <div class="medium-3 columns medium-offset-4">
      <h4><%= suggested_followee.name %></h4>
    </div>
    <div class="medium-3 columns right">
      <%= link_to "compare", '#' %>
      <%= link_to "follow", user_followees_path(followee_id: suggested_followee.goodreads_id), method: :post %>
    </div>
  </div>

  <%= image_tag suggested_followee.image_url %>
  <div id="user-attributes" class="medium-8 columns medium-offset 4 right">
    <div id="reason-for-user-suggestion" class="row">
      <p><%= suggested_followee.reason_for_suggestion %></p>
    </div>
  </div>
</div>
