<div class="panel clearfix">
  <div>
    <h5 id="book-title"><b><%= book.title %></b></h5>
    <span>
      <%= image_tag book.image_url %>
    </span>
    <span id="panel-scores" class="right" style="float: right">
      <div id="gr_add_to_books">
        <div class="gr_custom_each_container_">
          <%= link_to image_tag("add_book.png"), add_book_path, method: :post %>
        </div>
      </div>
      <h5>goodreads score: <br/><b><%= book.goodreads_rating %></b></h5>
      <h5>reviewer score: <br/><b><%= custom_rating(book) %></b></h5>
    </span>
  </div>
</div>
